@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* { margin: 0px; padding: 0px; box-sizing: border-box; }

a { text-decoration: none!important; color: #fff!important; }

ul { list-style: none; }

.container { display: grid; grid-template-rows: 700px 150px repeat(3, 450px) 100vh 100px; font-family: 'Poppins', sans-serif; }

.div-bg { background: url(./img/banner-bg.jpg) no-repeat; background-size: cover; display: grid; grid-template-rows: 150px  1fr; }

nav { display: grid; grid-template-columns: repeat(2, 1fr); justify-content: space-between; align-items: center;  }
ul { display: grid; grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr; list-style: none; place-items: center; }
header { color: #fff!important;}
section { background-color: violet; }
main { background-color: aquamarine; border: 2px solid black; }
article { background-color: brown; }
footer { background-color: chartreuse; }