* { margin: 0px; padding: 0px; }

.container-header, .container-main, .container-footer {width: 80%; height: 100vh;}

.container-body { display: flex; align-items: center; flex-direction: column; font-family: sans-serif;}

.container-header { background: url(Imagem\ do\ WhatsApp\ de\ 2023-11-16\ à\(s\)\ 19.34.25_08b180a7.jpg) no-repeat; width: 80%; height: 100vh; color: #ffffff; background-size: cover;}

.container-nav { padding: 0px 15px; background-color: #212925; display: flex; justify-content: space-between;
    align-items: center; height: 80px; }

.container-ul { display: flex; }

.container-main {width: 80%;}

.container-section {display: flex; justify-content: space-between;}

.container-product {display: flex; flex-direction: column;  width: 370px;}