/*
.largura{
    max-width: 500px;
    height: 350px;
    border: 2px dotted black;
}

.row {
    height: 100%;
}

.col-6, .col-3 {
    height: 25px;
    margin: 0px;
}

.bi.bi-bell, .bi.bi-arrow-through-heart {
    font-size: 40px;
    color: green;
    margin: 2px;
}

header {
    text-align: center;
}
*/



