/*
.largura{
    max-width: 500px;
    height: 350px;
    border: 2px dotted black;
}

.row {
    height: 100%;
}

.col-6, .col-3 {
    height: 25px;
    margin: 0px;
}

.bi.bi-bell, .bi.bi-arrow-through-heart {
    font-size: 40px;
    color: green;
    margin: 2px;
}

header {
    text-align: center;
}
*/

body { background-image: url('../images/bg-02.jpg'); background-size: cover; }

.main {
    height: 120vh;
}

.card {
    max-width: 17rem;
    height: 65%;
    opacity: 75%;
}

.card-body {
    max-width: 100px;
    max-height: 100px;
}

.icon-size {
    font-size: 55px;
}

